html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh; /*100% din viewport height */
}

.container {
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 800px) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.div-header {
  height: 100%;
  flex: 1;
}

.bg-gray {
  background-color: rgb(232 231 228);
}

.div-header,
.nav-links {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.active {
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-links a {
  color: black;
  padding: 6px 9px;
  border: 1px solid transparent;
  transition: all 0.3s;
  text-decoration: none;
}

.nav-links a.active {
  border-color: black;
  border-radius: 30px;
}

a:hover {
  border-color: rgb(0, 0, 0);
  border-radius: 23px;
  border: 1px solid #888;
  border-radius: 30px;
  background-color: grey;
  color: white;
  transition: all 0.9s;
}

.loggo {
  max-width: 100px;
}

.flex-container {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.image-home {
  flex: 1;
  border: 2px solid transparent;

  height: 100%;
}

.short-descrition {
  border-left: 3px;
}

#work-button {
  margin-right: 20px;
  background-color: rgb(195 177 170);
  border: 1px solid transparent;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  transition: all 0.4s;
}
#work-button:hover {
  background-color: rgb(187, 125, 156);
  color: rgb(52, 51, 51);
  font-weight: bold;
}

.div-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #efefef;
  align-content: center;
}

.flex1 {
  border: 2px solid black;
  border-color: transparent;
  margin: 15px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.4s;
}
.flex1:hover {
  background-color: rgb(117, 108, 108);
  color: white;
  transition: all 0.9s;
}

.flex2 {
  border: 2px solid black;
  border-color: transparent;
  margin: 15px;
  cursor: pointer;
  padding: 15px;
}

.flex3 {
  border: 2px solid black;
  border-color: transparent;
  margin: 15px;
  cursor: pointer;
  padding: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
  align-items: center;
  padding: -3px;
  margin-left: 70px;
  margin-right: 70px;
}

.portofolio {
  text-align: center;
  display: block;
  font-size: 1.3em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
  color: #444444;
  background: #ffffff;
}

.presenting-portofolio {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;
  gap: 20px;
}
.presenting-portofolio-photos {
  background-size: cover;
  background-repeat: no-repeat;

  background-position: 50%;
  vertical-align: middle;
  width: 215px;
  height: 215px;
}

.presenting-portofolio-photos1 {
  background-image: url("web-design-team.jpg");
}

.presenting-portofolio-photos2 {
  background-image: url("coffee.jpg");
}

.presenting-portofolio-photos3 {
  background-image: url("businessman.jpg");
}

.presenting-portofolio-photos4 {
  background-image: url("poza.jpg");
}

.presenting-portofolio-photos5 {
  background-image: url("de-schimbat.jpg");
}

.presenting-portofolio-photos6 {
  align-items: center;
  background-color: rgb(75, 75, 250);
  width: 215px;
  height: 215px;
  position: relative;
  /* box-shadow: rgb(75 75 250) 0px 0px 0px 215px; */
}

.presenting-portofolio-photos6:after {
  content: "";
  position: absolute;
  margin: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: #fff;
  bottom: 0px;
  right: 0px;
}

.presenting-portofolio-photos6 {
  overflow: hidden;
}

.footer {
  color: #fff;
  padding: 10px;
}

.links-footer {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.links-footer a {
  margin: 0 1rem;
  text-decoration: none;
  padding: 0.2rem 0.8rem;
  border: transparent 2px solid;
  border-radius: 20px;
  color: black;
}

.activare {
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.links-footer a.activare {
  border-color: black;
  border-radius: 30px;
}

.icons-footer {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.loggo-footer {
  border-radius: 20px;
  padding: 9px 9px;
  cursor: pointer;
  border: 1px solid transparent;
  width: 18;
  height: 18;
  background-color: #80808029;
  margin: 14px;
}

.services {
  text-align: center;
  display: block;
  font-size: 1.3em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
  color: #444444;
  background: #ffffff;
}

.copyright {
  text-align: center;
  color: #4a4646;
  opacity: 1.1;
}
