html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh; /*100% din viewport height */
}

.container {
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 800px) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.div-header {
  height: 100%;
  flex: 1;
}

.bg-gray {
  background-color: rgb(197, 192, 192);
}

.div-header,
.nav-links {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.active {
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-links a {
  color: black;
  padding: 6px 9px;
  border: 1px solid transparent;
  transition: all 0.3s;
  text-decoration: none;
}

.nav-links a.active {
  border-color: black;
  border-radius: 30px;
}

a:hover {
  border-color: rgb(0, 0, 0);
  border-radius: 23px;
  border: 1px solid #888;
  border-radius: 30px;
  background-color: grey;
  color: white;
  transition: all 0.9s;
}

.loggo {
  max-width: 100px;
}

.flex-container {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.image-home {
  flex: 1;
  border: 2px solid transparent;

  height: 100%;
}

.short-descrition {
  border-left: 3px;
}

#work-button {
  margin-right: 20px;
  background-color: rgb(204, 148, 204);
  border: 1px solid transparent;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  transition: all 0.4s;
}
#work-button:hover {
  background-color: rgb(187, 125, 156);
  color: rgb(52, 51, 51);
  font-weight: bold;
}

.div-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #efefef;
  align-content: center;
  
  

}
.flex1 {
  border: 2px solid black;
  border-color: rgb(0, 0, 0);
  margin: 15px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.4s;
}
.flex1:hover{
  background-color: rgb(117, 108, 108);
  color:white;
  transition: all 0.9s;
}

.flex2 {
  border: 2px solid black;
  border-color: rgb(0, 0, 0);
  margin: 15px;
  cursor: pointer;
  padding: 15px;
}

.flex3 {
  border: 2px solid black;
  border-color: rgb(0, 0, 0);
  margin: 15px;
  cursor: pointer;
  padding: 15px;
}

.icon{
size: 10px;
align-items: center;
}

.footer {
  background-color: #888;
  color: #fff;
  padding: 10px;
}
